/*
Author: Charles Harris
File Name: styles.css
Date: 12/1/2021
 */

/*Css Reset*/
body, header, nav, main, footer, img, h1, h2, h3, ul {
    margin: 0;
    padding: 0;
    border: 0;
}

/*Style rules for body*/
body {
    background-color: #000000;
    font-family: 'Montserrat', sans-serif;
    color: white;
}

/*Style rules for nav*/
.nav-container {
    background-color: #202024;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
    z-index: 7;
}

.nav-links {
    display: flex;
    padding-right: 63px;
}

.nav-item a {
    display: inline-block;
    padding: 10px 30px;
    font-size: 20px;
    color: white;
    text-decoration: none;
}

.logo {
    display: inline-block;
    padding: 10px 93px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    text-decoration: none;
}

/*Style rules for home*/
.hero {
    display: flex;
    margin: auto 0 auto 93px;
}

h1 {
    font-size: 64px;
    font-weight: bold;
}

h2 {
    font-weight: 600;
    white-space: nowrap;
}

.subtitle {
    width: min-content;
}

.contact {
    flex-direction: row;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    flex-direction: row;
}

li {
}

.about {
    font-size: 25px;
    font-weight: 500;
}

.contact-icon {
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-right: 20px;
}

.hero-image {
    position: static;
    background-position: right;
    display: flex;
    padding-left: 5%;
    margin-top: 100px;
}

.content {
    margin-top: 150px;
}

#learn-more {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: white;
    background-color: #6C63FF;
    border: 0;
    height: 81px;
    transform: translate(140 795);
    font-size: 28px;
    border-radius: 50px;
    width: 227px;
    margin-top: 30px;
    transition-duration: 0.2s;
}

#learn-more a {
    text-decoration: none;
    color: white;
}

#learn-more:hover {
    background-color: #4B45B2;
}

#learn-more:visited {
    text-decoration: none;
}
/*Styles rules for skills*/
.skills {
    background-color: #202024;
    margin: 9% 0 auto 0;
    text-align: center;
    padding-top: 4%;
    padding-bottom: 4%;
}

.skills-container {
    display: flex;
    justify-content: space-between;
    padding-right: 5%;
    padding-left: 5%;
    margin-top: 2%;
}

.skills-heading {
    display: flex;
    flex-direction: column;
}

.skill-header {
    display: flex;
    font-size: 60px;
    font-weight: normal;
    justify-content: center;
}

.skill-header-subtitle {
    display: flex;
    font-size: 30px;
    font-weight: 300;
    justify-content: center;
}

.skill-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
}

.inner-skill-header {
    font-size: 40px;
    font-weight: 200;
    margin-bottom: 0;
}

.skills-icon {
    display: flex;
    flex-direction: row; /* change this to row instead of 'column' */
    flex-wrap: wrap; /* added flex-wrap */
}

.icons {
    width: 97px;
    height: 97px;
    margin: 2%;
    flex: 0 0 auto;
}

.skills-icon:last-of-type {
    display: flex;
    flex-wrap: wrap;
    width: 300px;
}

.skills-icon:first-of-type {
    justify-content: space-evenly;
}

#inner-skill-header-accent {
    margin-bottom: 10%;
}

#tool-3 {
    margin-top: 10%;
}

.inner-skill {
    width: 150px;
    font-size: 30px;
    font-weight: normal;
    color: #B9B9B9;
}

.inner-skill p {
    margin: 0;
}

.projects_header {
    display: flex;
    font-size: 60px;
    font-weight: normal;
    justify-content: center;
}
.projects {
    padding-top: 4%;
    padding-bottom: 4%;
}

.portfolio-container1 {
    width: 100%;
    position: relative;
    text-align: left;
}

.portfolio-container2 {
    width: 100%;
    position: relative;
    text-align: left;
}

.inner-portfolio{
    position: absolute;
    top: 43%;
    left: 53%;
    transform: translate(-50%, -50%);
    font-size: 32px;
}

.portfolio-title {
    font-size: 50px;
    font-weight: 300;
    width: min-content;
    white-space: nowrap;
}

.portfolio-title p {
    margin: 0;
}

.portfolio-title svg {
    padding-bottom: 10%;
}

.project-background {
    display: block;
    margin-top: 4%;
    margin-left: auto;
    margin-right: auto;
    width: 1465px;
    height: 485px;
}

.project-preview {
    position: absolute;
    top: 30%;
    left: 20%;
    transform: translate(-50%, -50%);
}

.portfolio-desc {
    margin: 0;
}